.DS_Store
\#*
doc/*
backup
backups
backup.*
elpa
eshell
recentf
tmp
url
auto-save-list
projectile-bookmarks.eld
projectile.cache
tutorial/*
*~
smex-items
.emacs.desktop
*.cache
bookmarks
*.lock
server
local.el
places
org-roam.db
